<div class="modal-dialog modal-lg">
<h2 mat-dialog-title class="text-center">{{ data.title }}</h2>
  <form [formGroup]="formCrud">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="row-md-6">
            <div class="col-md-4">
              <label class="text-center">Nome</label>
              <input
                formControlName="name"
                class="text-center Name"
                type="text"
                placeholder="Name"
                name="name"
                id="name"
                disabled
              />
            </div>
          </div>
          <div class="row-md-6">
            <div class="col-md-4">
              <label class="text-center">Job</label>
              <input
                formControlName="job"
                class="text-center"
                type="text"
                placeholder="Job"
                name="job"
                id="job"
                disabled
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button  *ngIf="data.button == 'Salvar'"  (click)="updateUser(data.id)" class="btn btn-primary" mat-dialog-close>{{ data.button }} </button>
        <button  *ngIf="data.button == 'Remover'" (click)="deleteUser(data.id)" class="btn btn-warning" mat-dialog-close>{{ data.button }}</button>
        <button mat-button mat-dialog-close class="btn btn-danger">Fechar</button>
      </div>
    </div>
  </form>
</div>
