<h2></h2>
<div class="container right-panel-active" id="container">
	<div class="form-container sign-up-container">
		<form [formGroup]="formRegister">
			<h1>Criar conta</h1>
			<div class="social-container">
				<img src="">
			</div>
      <!-- VALID EMAIL -->
      <input [class.is-invalid] = "formRegister.get('email').invalid && formRegister.get('email').touched" formControlName="email" class="text-center" type="email" placeholder="E-mail" name="email" id="email" />
      <div *ngIf="(email.invalid && email.touched) || email.dirty">
        <h5 *ngIf="email.errors?.required" class="text-danger">Insira o e-mail padrão para prossegir</h5>
        <small *ngIf="email.errors?.pattern" class="text-danger">Insira o e-mail padrão para prossegir</small>
      </div>
      <!-- VALID PASSWORD -->
      <input [class.is-invalid] = "formRegister.get('password').invalid && formRegister.get('password').touched" formControlName="password" class="text-center" type="password" placeholder="Senha" name="password" id="password" />
      <div *ngIf="(password.invalid && password.touched) || password.dirty">
        <small *ngIf="password.errors?.required" class="text-danger">Insira a senha padrão para prosseguir</small>
        <small *ngIf="password.errors?.pattern" class="text-danger">Insira a senha padrão para prosseguir</small>
      </div>
      <button [disabled]="!formRegister.valid" (click)="registerUser(formRegister)">Cadastrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Parece que você não possui uma conta...</h1>
				<h3>Vamos criar uma agora mesmo!</h3>
        <h2>Ou então, se já for cadastrado</h2>
        <h3>Clique no botão abaixo e realize login!</h3>
        <button class="login" routerLink="/login">Logar-me</button>
			</div>
		</div>
	</div>
</div>
